<section class="hero">
    <div class="info-wizard">
        <div class="contacts" id="police">
            <h1>Αστυνομία</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://www.astynomia.gr/" target="_blank">https://www.astynomia.gr/</a>
            </p>
            <p>
                <strong>Α' Αστυνομικό Τμήμα</strong> - Τηλέφωνο: <a a href="tel:+302614409750">261 440 9750</a>, Διεύθυνση: Πανεπιστημίου 138, Ανθούπολη, 264 43 Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Β' Αστυνομικό Τμήμα</strong> - Τηλέφωνο: <a a href="tel:+302610695282">261 069 5282</a>, Διεύθυνση: Ερμού 95, 26110 Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Γ' Αστυνομικό Τμήμα</strong> - Τηλέφωνο: <a a href="tel:+302610344850">261 034 4850</a>, Διεύθυνση: Φιλίππου και Ολυμπιάδος &amp Νικοπόλεως, 26332 Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Τμήμα Τροχαίας</strong> - Τηλέφωνο: <a a href="tel:+302614409770">261 440 9770</a>, Διεύθυνση: Πανεπιστημίου 138, Ανθούπολη, 264 43 Πάτρα Αχαΐας
            </p>
        </div>
        <div class="contacts" id="fire-dept">
            <h1>Πυροσβεστική</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://www.fireservice.gr/el" target="_blank">https://www.fireservice.gr/el</a>
            </p>
            <p>
                <strong>Α' Πυροσβετικός Σταθμός</strong> - Τηλέφωνο: <a a href="tel:+302610333211">261 033 3211</a>, Διεύθυνση: Ναυαρίνου 120, Χαλκώματα, 262 22 Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Β' Πυροσβετικός Σταθμός</strong> - Τηλέφωνο: <a a href="tel:+302610340506">261 034 0506</a>, Διεύθυνση: Κτίριο Λιμένα Πατρών ΠΑΤΡΑ 26110, Μαρούδα, Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Διοίκηση Πυροσβεστικών Υπηρεσιών</strong> - Τηλέφωνο: <a a href="tel:+302610434664">261 043 4664</a>, Διεύθυνση: Ν.Ε.Ο Πατρών - Αθηνών 147 ΠΑΤΡΑ 26110, Μαρούδα, Πάτρα Αχαΐας
            </p>
        </div>
        <div class="contacts" id="deyap">
            <h1>ΔΕΥΑΠ</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://deyaponline.gr/" target="_blank">https://deyaponline.gr/</a>
            </p>
            <p>
                <strong>Υπηρεσία Πατρών</strong> - Τηλέφωνο: <a a href="tel:+302610366100">2610 366 100</a>, Διεύθυνση: Γλαύκου 93, 263 32 Πάτρα Αχαΐας
            </p>
        </div>
        <div class="contacts" id="deh">
            <h1>ΔΕΗ</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://www.dei.gr/el/" target="_blank">https://www.dei.gr/el/</a>
            </p>
            <p>
                <strong>Υπηρεσία Πατρών</strong> - Τηλέφωνο: <a a href="tel:+302610642763">261 064 2763</a>, Διεύθυνση: Εγλυκάδα, 263 35 Πάτρα Αχαΐας
            </p>
        </div>
        <div class="contacts" id="dhmos">
            <h1>Δήμος Πατρέων</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://e-patras.gr/el" target="_blank">https://e-patras.gr/el</a>
            </p>
            <p>
                <strong>Υπηρεσία Πατρών</strong> - Τηλέφωνο: <a a href="tel:+302613610200">261 361 0200</a>, Διεύθυνση: Μαιζώνος 108, 26221 Πάτρα Αχαΐας
            </p>
        </div>
    </div>
<section class="hero">
    <div class="info-wizard">
        <div class="contacts" id="police">
            <h1>Αστυνομία</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://www.astynomia.gr/" target="_blank">https://www.astynomia.gr/</a>
            </p>
            <p>
                <strong>Α' Αστυνομικό Τμήμα</strong> - Τηλέφωνο: <a a href="tel:+302614409750">261 440 9750</a>, Διεύθυνση: Πανεπιστημίου 138, Ανθούπολη, 264 43 Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Β' Αστυνομικό Τμήμα</strong> - Τηλέφωνο: <a a href="tel:+302610695282">261 069 5282</a>, Διεύθυνση: Ερμού 95, 26110 Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Γ' Αστυνομικό Τμήμα</strong> - Τηλέφωνο: <a a href="tel:+302610344850">261 034 4850</a>, Διεύθυνση: Φιλίππου και Ολυμπιάδος &amp Νικοπόλεως, 26332 Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Τμήμα Τροχαίας</strong> - Τηλέφωνο: <a a href="tel:+302614409770">261 440 9770</a>, Διεύθυνση: Πανεπιστημίου 138, Ανθούπολη, 264 43 Πάτρα Αχαΐας
            </p>
        </div>
        <div class="contacts" id="fire-dept">
            <h1>Πυροσβεστική</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://www.fireservice.gr/el" target="_blank">https://www.fireservice.gr/el</a>
            </p>
            <p>
                <strong>Α' Πυροσβετικός Σταθμός</strong> - Τηλέφωνο: <a a href="tel:+302610333211">261 033 3211</a>, Διεύθυνση: Ναυαρίνου 120, Χαλκώματα, 262 22 Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Β' Πυροσβετικός Σταθμός</strong> - Τηλέφωνο: <a a href="tel:+302610340506">261 034 0506</a>, Διεύθυνση: Κτίριο Λιμένα Πατρών ΠΑΤΡΑ 26110, Μαρούδα, Πάτρα Αχαΐας
            </p>
            <p>
                <strong>Διοίκηση Πυροσβεστικών Υπηρεσιών</strong> - Τηλέφωνο: <a a href="tel:+302610434664">261 043 4664</a>, Διεύθυνση: Ν.Ε.Ο Πατρών - Αθηνών 147 ΠΑΤΡΑ 26110, Μαρούδα, Πάτρα Αχαΐας
            </p>
        </div>
        <div class="contacts" id="deyap">
            <h1>ΔΕΥΑΠ</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://deyaponline.gr/" target="_blank">https://deyaponline.gr/</a>
            </p>
            <p>
                <strong>Υπηρεσία Πατρών</strong> - Τηλέφωνο: <a a href="tel:+302610366100">2610 366 100</a>, Διεύθυνση: Γλαύκου 93, 263 32 Πάτρα Αχαΐας
            </p>
        </div>
        <div class="contacts" id="deh">
            <h1>ΔΕΗ</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://www.dei.gr/el/" target="_blank">https://www.dei.gr/el/</a>
            </p>
            <p>
                <strong>Υπηρεσία Πατρών</strong> - Τηλέφωνο: <a a href="tel:+302610642763">261 064 2763</a>, Διεύθυνση: Εγλυκάδα, 263 35 Πάτρα Αχαΐας
            </p>
        </div>
        <div class="contacts" id="dhmos">
            <h1>Δήμος Πατρέων</h1>
            <p>
                <strong>Ιστοσελίδα:</strong> <a href="https://e-patras.gr/el" target="_blank">https://e-patras.gr/el</a>
            </p>
            <p>
                <strong>Υπηρεσία Πατρών</strong> - Τηλέφωνο: <a a href="tel:+302613610200">261 361 0200</a>, Διεύθυνση: Μαιζώνος 108, 26221 Πάτρα Αχαΐας
            </p>
        </div>
    </div>
</section>