<section class="background">
        <div class="login-container">
            <h2>Είσοδος Χρήστη</h2>
            <form action="/login" method="POST">
                <div class="input-group">
                    <label id="username-label" for="email-login">Email ή Κινητό</label>
                    <input type="text" id="email-login" name="email-login" required>
                </div>
                <div class="input-group">
                    <label id="password-login-label" for="password-login">Κωδικός</label>
                    <input type="password" id="password-login" name="password-login" required>
                </div>
                <div class="login-btn-container">
                    <button type="submit" class="login-btn">Είσοδος</button>
                </div>
                <div style="padding-top: 10px;">
                    {{#if error}}
                        <label style="color:red;" class="error-message">{{error}}</label>
                    {{/if}}
                </div>
            </form>
            <a href="/signup" class="register-link">Δεν έχεις λογαριασμό;</a>
        </div>
</section>
