<section class="background">
        <div class="login-container">
            <h2>Είσοδος Χρήστη</h2>
            <form action="/login" method="POST">
                <div class="input-group">
                    <label for="email-login">Email</label>
                    <input type="email" id="email-login" name="email-login" required>
                </div>
                <div class="input-group">
                    <label id="password-login-label" for="password-login">Κωδικός</label>
                    <input type="password" id="password-login" name="password-login" required>
                </div>
                <div class="login-btn-container">
                    <button type="submit" class="login-btn">Είσοδος</button>
                </div>
            </form>
            <a href="#" class="register-link">Δεν έχεις λογαριασμό;</a>
        </div>
        <div class="signup-container"   style="display:none">
            <h2>Στοιχεία Εγγραφής</h2>
            <form action="#" method="POST">
                <div class="input-group">
                    <label id="email-signup-label" for="email-signup">Email ή Κινητό</label>
                    <input type="email" id="email-signup" name="email-signup" required>
                </div>
                <div class="input-group">
                    <label id="password-signup-label" for="password-signup">Κωδικός</label>
                    <input type="password" id="password-signup" name="password-signup" required>
                </div>
                <div class="input-group">
                    <label id="reenter-password-singup-label" for="password-signup-check">Επαλήθευση Κωδικού</label>
                    <input type="password" id="password-signup-check" name="password-signup-check" required>
                </div>
                <div class="signup-btn-container">
                    <button type="submit" class="signup-btn">Εγγραφή</button>
                </div>
            </form>
            <a href="#" class="login-link">Έχεις ήδη λογαριασμό;</a>
        </div>
</section>
