<div class="wizard-container">
    <!-- <iframe async defer src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12530.315626848556!2d21.749541949999998!3d38.2660713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sgr!4v1743340672678!5m2!1sen!2sgr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <!-- <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=18.781127929687504%2C36.681636065615216%2C25.845336914062504%2C39.44891948347229&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?#map=8/38.078/22.313">View Larger Map</a></small> -->
    <div id="map" style="height: 100%; width: 100%; position: absolute; z-index: 0; pointer-events: none;"></div>
    <form id="report-form" class="report-form" method="POST" action="/report" enctype="multipart/form-data">
        <div id="wizard-step-1" class="wizard">
            <h2>Δήλωση Βλάβης</h2>

            <div class="row">
                <div class="input-group">
                    <label id="street-label" for="steet">Οδός</label>
                    <input type="text" id="street" name="street" placeholder="π.χ. Κορίνθου" required>
                </div>
                <div class="input-group">
                    <label id="street-number-label" for="street-number">Αριθμός</label>
                    <input type="text" id="street-number" name="street-number" placeholder="π.χ. 12, 12A, -"
                        pattern="\\-|(\d+[α-ωΑ-Ωa-zA-Z]?)" required>
                </div>
                <div class="input-group">
                    <label id="postal-code-label" for="postal-code">Τ.Κ.</label>
                    <input type="text" id="postal-code" name="postal-code" placeholder="π.χ. 264 41 ή 26441"
                        pattern="(\d{3}[ ]?\d{2})" maxlength="6" required>
                </div>
            </div>
            <div class="row-select">
                <div class="input-group">
                    <label id="area-label" for="area">Περιοχή</label>
                    <select id="area" name="area" placeholder="Επιλέξτε περιοχή..." required>
                        <option value="" disabled selected> Επιλέξτε περιοχή...</option>
                        <option value="Αγία Σοφία">Αγία Σοφία</option>
                        <option value="Αγυιά">Αγυιά</option>
                        <option value="Άγιος Ανδρέας">Άγιος Ανδρέας</option>
                        <option value="Αμπελόκηποι">Αμπελόκηποι</option>
                        <option value="Ανθούπολη">Ανθούπολη</option>
                        <option value="Δασύλλιο">Δασύλλιο</option>
                        <option value="Ζαρουχλέικα">Ζαρουχλέικα</option>
                        <option value="Ζαβλάνι">Ζαβλάνι</option>
                        <option value="Προσφυγικά">Προσφυγικά</option>
                        <option value="Σκαγιοπούλειο">Σκαγιοπούλειο</option>
                        <option value="Τερψιθέα">Τερψιθέα</option>
                        <option value="Άλλο">Άλλο</option>
                    </select>
                </div>
            </div>
            <div class="current-loc-container">
                <button type="button" class="current-loc-btn">Τρέχουσα Τοποθεσία</button>
            </div>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
            <div class="next-btn-container">
                <button type="button" class="next-btn">Επόμενο</button>
            </div>
            <div class="choose-loc-container">
                <button type="button" class="choose-loc-btn">Επιλέξτε στον χάρτη</button>
            </div>
        </div>
        <div id="wizard-step-2" class="wizard" style="display: none">
            <h2>Πληροφορίες Δήλωσης</h2>
            <div class="row-select">
                <div class="input-group">
                    <label id="damage-type-label" for="area">Τύπος Βλάβης</label>
                    <select id="damage" name="damage" placeholder="Τύπος Βλάβης..." required>
                        <option value="" disabled selected> Επιλέξτε βλάβη...</option>
                        <option value="Χαλασμένος σωλήνας νερού">Χαλασμένος σωλήνας νερού</option>
                        <option value="Διαρροές αερίου">Διαρροές αερίου</option>
                        <option value="Χαλασμένα φανάρια">Χαλασμένα φανάρια</option>
                        <option value="Εκτεθειμένα καλώδια ή ηλεκτρολογικοί κίνδυνοι">Εκτεθειμένα καλώδια ή ηλεκτρολογικοί κίνδυνοι</option>
                        <option value="Λακκούβες">Λακκούβες</option>
                        <option value="Πεσμένα δέντρα ή κλαδιά">Πεσμένα δέντρα ή κλαδιά</option>
                        <option value="Σπασμένα πεζοδρόμια">Σπασμένα πεζοδρόμια</option>
                        <option value="Κατεστραμμένα παγκάκια">Κατεστραμμένα παγκάκια</option>
                        <option value="Παράνομη απόρριψη απορριμμάτων">Παράνομη απόρριψη απορριμμάτων</option>
                        <option value="Ανοιχτά ή χωρίς κάλυμμα φρεάτια">Ανοιχτά ή χωρίς κάλυμμα φρεάτια</option>
                        <option value="Σπασμένες παιδικές χαρές">Σπασμένες παιδικές χαρές</option>
                        <option value="Χαλασμένος δημοτικός φωτισμός">Χαλασμένος δημοτικός φωτισμός</option>
                        <option value="Κατεστραμμένες στάσεις λεωφορείων">Κατεστραμμένες στάσεις λεωφορείων</option>
                        <option value="Ρωγμές σε τοίχους δημόσιων κτιρίων">Ρωγμές σε τοίχους δημόσιων κτιρίων</option>
                        <option value="Άλλο">Άλλο</option>
                    </select>
                </div>
            </div>
            <div class="input-group">
                <label id="comments-label" for="comments">Σχόλια</label>
                <input type="text" id="comments" name="comments" placeholder="Αναφέρετε σχόλια σχετικά με την βλάβη"
                    rows="10">
            </div>

            <div class="report-container">
                <button type="submit" id="report-btn-w2" class="report-btn">Δήλωση</button>
            </div>
            <div class="previous-container">
                <button type="button" id="previous-btn-w2" class="previous-btn">Προηγούμενο</button>
            </div>
            <div class="row">
                <div class="input-group">
                    <label id="image-label" for="image">Φωτογραφία (προαιρετικό)</label>
                    <input type="file" id="image" name="image" accept="image/*" capture="environment">
                </div>
                <div class="input-group">
                    <label id="mobile-label" for="mobile">Κινητό</label>
                    {{#if user}}
                    <input type="tel" id="mobile" name="mobile" placeholder="69xxxxxxxx" pattern="^69\d{8}$"
                        maxlength="10" value="{{user.user_phone}}" required>
                    {{else}}
                    <input type="tel" id="mobile" name="mobile" placeholder="69xxxxxxxx" pattern="^69\d{8}$"
                        maxlength="10" required>
                    {{/if}}
                </div>
            </div>
            {{!-- <div class="input-group">
            </div> --}}
        </div>
        {{!-- <div id="wizard-step-3" class="wizard" style="display: none">
            <h2>Πληροφορίες Επικοινωνίας</h2>
            <div class="row">
                <div class="input-group">
                    <label id="first-name-label" for="first-name">Όνομα</label>
                    <input type="text" id="first-name" name="first-name" required>
                </div>
                <div class="input-group">
                    <label id="last-name-label" for="last-name">Επώνυμο</label>
                    <input type="text" id="last-name" name="last-name" required>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label for="email">Email</label>
                    {{#if user}}
                    <input type="email" id="email" name="email" value={{user.user_email}} required>
                    {{else}}
                    <input type="email" id="email" name="email" required>
                    {{/if}}
                </div>
            </div>
            
            <div class="previous-container">
                <button type="button" id="previous-btn-w3" class="previous-btn">Προηγούμενο</button>
            </div>
        </div> --}}
    </form>
</div>
<button id="use-location-btn" style="display: none;" class="use-location-btn">
    Χρήση Τοποθεσίας
</button>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>