<section class="background">
    <div class="signup-container">
        <h2>Στοιχεία Εγγραφής</h2>
        <form action="/signup" method="POST">
            <div id="name-input" class="input-group">
                <div>
                <label id="first-name-label" for="first-name">Όνομα</label>
                <input type="text" id="first-name" name="first-name" required>
                </div>
                <div class="last-name-class">
                <label id="last-name-label" for="last-name">Επώνυμο</label>
                <input type="text" id="last-name" name="last-name" required>
                </div>
            </div>
            
            <div class="input-group">
                <label id="email-signup-label" for="email-signup">Email</label>
                <input type="email" id="email-signup" name="email-signup" required>
            </div>
            <div class="input-group">
                <label id="phone-signup-label" for="phone-signup">Κινητό</label>
                <input type="tel" id="phone-signup" name="phone-signup" pattern="^69\d{8}$" maxlength="10" required>
            </div>
            <div class="input-group">
                <label id="password-signup-label" for="password-signup">Κωδικός</label>
                <input type="password" id="password-signup" name="password-signup" required>
            </div>
            <div class="input-group">
                <label id="reenter-password-singup-label" for="password-signup-check">Επαλήθευση Κωδικού</label>
                <input type="password" id="password-signup-check" name="password-signup-check" required>
            </div>
            <div class="signup-btn-container">
                <button type="submit" class="signup-btn">Εγγραφή</button>
            </div>
            <div style="padding-top: 10px;">
                {{#if error}}
                    <label id="erroLabel" style="color:red;" class="error-message">{{error}}</label>
                {{else}}
                    <label id="errorLabel" style="color:red;" class="error-message" style="display: none;"></label>
                {{/if}}
            </div>
        </form>
        <a href="/login" class="login-link">Έχεις ήδη λογαριασμό;</a>
    </div>
</section>
