<section class="background">
    <div class="signup-container">
        <h2>Στοιχεία Εγγραφής</h2>
        <form action="/signup" method="POST">
            <div class="input-group">
                <label id="email-signup-label" for="email-signup">Email ή Κινητό</label>
                <input type="email" id="email-signup" name="email-signup" required>
            </div>
            <div class="input-group">
                <label id="password-signup-label" for="password-signup">Κωδικός</label>
                <input type="password" id="password-signup" name="password-signup" required>
            </div>
            <div class="input-group">
                <label id="reenter-password-singup-label" for="password-signup-check">Επαλήθευση Κωδικού</label>
                <input type="password" id="password-signup-check" name="password-signup-check" required>
            </div>
            <div class="signup-btn-container">
                <button type="button" class="signup-btn">Εγγραφή</button>
            </div>
        </form>
        <a href="/login" class="login-link">Έχεις ήδη λογαριασμό;</a>
    </div>
</section>